<h1>About</h1>

<p>Every time one of us gets bullied, we are all affected.</p>

<p><strong>That's why we created Why Bully</strong><br />If we can find out more information about bullying and share it with the world, we can empower families, schools, and communities to talk about and confront this important problem.</p>

<p>Your report is completely anonymous. No one, not even us, will know that it was you. That means it's safe to report that something happened to you, but it also means that we can't help you out with your situation--so make sure you let your family, friends, or teacher know too.</p>

<p>When you make a bully report we need to know which school you go to. This makes it possible to find out if some schools have a bigger problem with bullying than other schools. That way, when people find out that a school has a big problem, they can deal with it. If you don't report that you are being bullied, than the people in your community will never find out, and they won't be able to help you stop it.</p>

<p>By making a bully report, you are making a brave step towards stopping a big problem. Thanks for helping make the world a better place, and thanks for helping put a stop to bullying!
</p>
