<!-- Main hero unit for a primary marketing message or call to action -->
<!-- TODO: move this from Schools INDEX to main site INDEX -->
<div id="mainContainer" class="container">

    <div id="phoneReportButton" class="container visible-phone visible-tablet">
    <a href="/report" class="btn btn-danger btn-large">
            <i class="icon-eye-open icon-white"></i> Report Bullying Now!
        </a>
    </div>
    
    <div id="indexHeader" class="jumbotron">

        <h1>We ask the question to start a conversation!</h1>
        
        <div class="container" id="marketingMessage">

            <p>Why Bully? is a service aimed at raising awareness to bullying in schools all across America.</p>
            <p>We provide a reporting platform to <a href="#forstudents">Students</a>, <a href="#forparents">Parents</a> and <a href="#forteachers">Teachers</a>.</p>
        
        </div> <!-- end container#marketingMessage -->

    </div><!-- end jumbotron#indexHeader -->
    <hr/>

    <div id="aboutContainer" class="container">

        <div id="forStudentsRow" class="row">

            <div class="span4">

              <h2>Students</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <!-- <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p> -->

            </div> <!-- end span4 -->
            
            <a name="forstudents"></a> <!-- anchor for students -->

        </div><!-- end row#forStudentsRow -->

        <div id="forParentsRow" class="row">

            <div class="span4">

              <h2>Parents</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <!-- <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p> -->

            </div> <!-- end span4 -->
            
            <a name="forparents"></a> <!-- anchor for parents -->

        </div><!-- end row#forParentsRow -->

        <div id="forTeachersRow" class="row">

            <div class="span4">

              <h2>Teachers</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <!-- <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p> -->

            </div> <!-- end span4 -->
            
            <a name="forteachers"></a> <!-- anchor for parents -->

        </div><!-- end row#forTeachersRow -->

    </div><!-- end container#aboutContainer -->
    
    <hr/>

    <div id="topTenContainer" class="container">

        <div id="tenbest" class="row">

            <div class="span12">

              <h2>Top 10 Least Bullied Schools</h2>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>School Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>New York School 1</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 2</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 3</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 4</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 5</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 6</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 4</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 5</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 6</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 7</td>
                      <td>New York, NY 10001</td>
                    </tr>
                </tbody>
              </table>

            </div> <!-- end span6 -->
            
            <a name="forstudents"></a> <!-- anchor for students -->

        </div><!-- end row#tenbest -->


        <div id="tenworst" class="row">

            <div class="span12">

              <h2>Top 10 Most Bullied Schools</h2>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>School Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>New York School 1</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 2</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 3</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 4</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 5</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 6</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 4</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 5</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 6</td>
                      <td>New York, NY 10001</td>
                    </tr>
                    <tr>
                      <td>New York School 7</td>
                      <td>New York, NY 10001</td>
                    </tr>
                </tbody>
              </table>  

            </div> <!-- end span5 -->

        </div><!-- end row#tenworst -->
    
    </div>

    <div id="phoneReportButton" class="container visible-phone visible-tablet">
    <a href="/report" class="btn btn-danger btn-large">
            <i class="icon-eye-open icon-white"></i> Report Bullying Now!
        </a>
    </div>

</div> <!-- end container#mainContainer -->