<!-- Main hero unit for a primary marketing message or call to action -->
<!-- TODO: move this from Schools INDEX to main site INDEX -->
<div id="mainContainer" class="container">
    
    <div id="indexHeader" class="jumbotron">

        <h1>Every time one of us gets bullied, we are all affected.</h1>
        
        <div class="container" id="marketingMessage">

            <p>Why Bully? - Empowering families, schools and communities to talk about and confront bullying..</p>
           
        </div> <!-- end container#marketingMessage -->

        <div id="phoneReportButton" class="container visible-phone visible-tablet">
        <a href="/report" class="btn btn-danger btn-large">
            Report Bullying
        </a>
    </div>

    </div><!-- end jumbotron#indexHeader -->
    <hr/>

    <div id="aboutContainer" class="container">

        <div id="forStudentsRow" class="row">

            <a name="forstudents"></a> <!-- anchor for students -->

            <div class="span4">

              <h2>Students</h2>
              <div class="thumbnail">
                <%= img_tag('students.jpg') %> 
                <div class="caption">
                    <p>You're not alone.</p>
                </div>
              </div>
              

            </div> <!-- end span4 -->

        </div><!-- end row#forStudentsRow -->

        <div id="forParentsRow" class="row">

            <a name="forparents"></a> <!-- anchor for parents -->

            <div class="span4">

              <h2>Parents</h2>
              <div class="thumbnail">
                <%= img_tag('parents.jpg') %> 
                <div class="caption">
                    <p>Stay informed so you can take action.</p>
                </div>
              </div>

            </div> <!-- end span4 -->
            
        </div><!-- end row#forParentsRow -->

        <div id="forTeachersRow" class="row">

            <a name="forteachers"></a> <!-- anchor for parents -->

            <div class="span4">

              <h2>Teachers</h2>
              <div class="thumbnail parents">
                <%= img_tag('teachers.jpg') %> 
                <div class="caption">
                    <p>Education, early detection &amp; open discussions are key.</p>
                </div>
              </div>

            </div> <!-- end span4 -->
            
        </div><!-- end row#forTeachersRow -->

        <div class="container" id="videoContainer">
            <div class="row">
                <div class="span8">
                  <div class="flex-video widescreen">
                  <iframe allowfullscreen="true" src="//www.youtube.com/embed/cZVN5guxeGM" frameborder="0" width="720" height="341"></iframe>
                  </div>
                </div>
            </div>  
        </div>
        <div class="row">
                <div class="span4">
                     <a class="twitter-timeline pull-right" data-dnt="true" href="https://twitter.com/search?q=%23whybully"  data-widget-id="386788114535964673">Tweets about "#whybully"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


                </div>
            </div>

    </div><!-- end container#aboutContainer -->
    
    <hr/>

  
    <div id="phoneReportButton" class="container visible-phone visible-tablet">
    <a href="/report" class="btn btn-danger btn-large">
            <i class="icon-eye-open icon-white"></i> Report Bullying Now!
        </a>
    </div>

</div> <!-- end container#mainContainer -->
