<h1>Resources</h1>
<ul>
<li><%= link_to "Pacer's National Bullying Prevention Center", "http://www.pacer.org/bullying/" %>
<li><%= link_to "New York Times On Bullying: Resources and Questions for Writing or Discussion", "http://learning.blogs.nytimes.com/2012/04/05/on-bullying-resources-and-questions-for-writing-or-discussion/" %> 
<li><a href="http://www.education.com/reference/article/ten-actions-to-eliminate-bullying/">Ten Actions to Eliminate Bullying</a></li>
<li><%= link_to "stopbullying.gov", "http://www.stopbullying.gov/index.html" %>
<li><%= link_to "Bullying Prevention Resource Guide for Schools, Families, and Community Partners", "http://www.bullyingprevention.org/" %>
