<!-- Main hero unit for a primary marketing message or call to action -->
<!-- TODO: move this from Schools INDEX to main site INDEX -->
<div id="mainContainer" class="container">
    
    <hr/>
    <div id="indexHeader" class="jumbotron">

        <h1>We ask the question to start a conversation!</h1>
        <p>Why Bully? is a service aimed at raising awareness to bullying in schools all across America.</p>
        <p>We provide a reporting platform to <a href="#forstudents">Students</a>, <a href="#forparents">Parents</a> and <a href="#forteachers">Teachers</a>.</p>
        <p><a href="/report" class="btn btn-danger btn-large"><i class="icon-eye-open icon-white"></i> Report Bullying Now!</a></p>

    </div><!-- end jumbotron#indexHeader -->
    <hr/>

    <div id="aboutContainer" class="container">

        <div id="forStudentsRow" class="row">

            <div class="span4">

              <h2>Students</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p>

            </div> <!-- end span4 -->
            
            <a name="forstudents"></a> <!-- anchor for students -->

        </div><!-- end row#forStudentsRow -->

        <div id="forParentsRow" class="row">

            <div class="span4">

              <h2>Parents</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p>

            </div> <!-- end span4 -->
            
            <a name="forparents"></a> <!-- anchor for parents -->

        </div><!-- end row#forParentsRow -->

        <div id="forTeachersRow" class="row">

            <div class="span4">

              <h2>Teachers</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a href="/report" class="btn"><i class="icon-eye-open"></i> Report Bullying Now!</a></p>

            </div> <!-- end span4 -->
            
            <a name="forteachers"></a> <!-- anchor for parents -->

        </div><!-- end row#forTeachersRow -->

    </div><!-- end container#aboutContainer -->

</div> <!-- end container#mainContainer -->