
<!-- TODO: Move this to Schools index and use this page to graph school bullying results -->
<!-- TODO: If no data is available, show a message saying no data is available for this school -->
<h1><%= @school.name %></h1>
Grades: <%= @school.grades %><br />
<%= @school.address.html_safe %><br />
<%= @school.phone %>
