/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

/*
    All standard CSS goes here, outside a media query
*/
body {
    padding-top: 60px;
    padding-bottom:60px;
    background-color:#ecf8f7;
}
#navbar{
    background-color:#4da36e;
    background-image: none;
  background-repeat: no-repeat;
  filter: none;
  
}
.navbar-brand {
    font-family: 'Gloria Hallelujah', cursive;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a, .navbar-inner .container .nav > li > a, .navbar-inner .container .brand {
    color:  #fff;
    text-shadow:none;
    background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.usreport {
    margin-left:5px;
}
/* make jumbotron <p> tags left aligned */
.jumbotron p {
    text-align:left;
}
/* center and widen report button on phones */
#phoneReportButton {
    display:block;
    text-align:center;
    margin-bottom:20px;
}
/* home page table styles */
#tenbest table tr, #tenbest table td,#tenbest table th, #tenworst  table tr, #tenworst  table td, #tenworst  table th{
   text-align: center;
}
/* float rows on desktop */
.row {
    float:left;
}
.row p {
    padding:10px;
    padding-left:0;
}

/*
    Media query for Mobile Phones
    All CSS for mobile phones goes here
*/
@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }
    .jumbotron{
        text-align:center;
    }
    .row {
        float:none;
    }
}

/*
    Media query for Tablet Screens
    All CSS for tablets goes here
*/
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* 
    Media query for smaller tablets
    All CSS for anything between phone and tablet goes here
*/
@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}


/*
    Media query for Large screens on Desktop or TVs
*/
@media (min-width: 1200px) {
    
}