/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

/*
    All standard CSS goes here, outside a media query
*/
body {
    padding-top: 60px;
    padding-bottom:60px;
    background-color:#ecf8f7;
}
#navbar{
    background-color:#4da36e;
    background-image: none;
  background-repeat: no-repeat;
  filter: none;
  
}
.navbar-inverse .brand {
    font-family: 'Gloria Hallelujah', cursive;
    font-size:28px;
    margin-top:-4px;
    color:#faa732;
}

p, div, a, li, tr, td, th {
    font-family: 'Alike Angular', serif;
}
h1, h2, h3, h4, h5 {
   font-family: 'Judson', serif;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a, .navbar-inner .container .nav > li > a, .navbar-inner .container .brand {
   
    text-shadow:none;
    background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
 .navbar-inverse .nav > li > a, .navbar-inner .container .nav > li > a {
    color:  #fff;
}
.usreport {
    margin-left:5px;
}
/* make jumbotron <p> tags left aligned */
.jumbotron p {
    text-align:left;
}
/* center and widen report button on phones */
#phoneReportButton {
    display:block;
    text-align:center;
    margin-bottom:20px;
}
/* home page table styles */
#tenbest table tr, #tenbest table td,#tenbest table th, #tenworst  table tr, #tenworst  table td, #tenworst  table th{
   text-align: center;
}
/* float rows on desktop */
.row {
    float:left;
}
.row p {
    overflow:hidden;
    height:300px;
    margin:10px;
    margin-left:0;
}
.row .thumbnail {
   height:230px;
   width:350px;
}
.row .thumbnail .caption{
   height:250px;
   margin:0;
   padding:0;
   margin-top:-5px;
}
.twitter-timeline {
    margin-left: 29px;
    width:98%;
    padding-left:10px;
    margin-right:10px;
    margin-top:10px;
}
.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
margin-left: 25px;
height: 0;
margin-bottom: 16px;
overflow: hidden;

}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
max-height:341px;
max-width:730px;

}
#videoRow {
    margin-top:10px;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

/*
    Media query for Mobile Phones
    All CSS for mobile phones goes here
*/
@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }
    .jumbotron{
        text-align:center;
    }
    .row {
        float:none;
    }
    #videoContainer {
        max-width:450px;
    }
}

/*
    Media query for Tablet Screens
    All CSS for tablets goes here
*/
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* 
    Media query for smaller tablets
    All CSS for anything between phone and tablet goes here
*/
@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}


/*
    Media query for Large screens on Desktop or TVs
*/
@media (min-width: 1200px) {
    
}