<form class="navbar-search pull-left" id="map-search">
  <input type="text" id="map-address" class="search-query" placeholder="Search">
</form>
</div>
This map shows schools where Bully Reports have been made (please refresh if the map isn't showing up within a couple seconds).
<div id="gmap">
</div>
