<!DOCTYPE html>
<html>
<head>
  <title>Why Bully?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Judson' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alike+Angular' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div id="navbar" class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Why Bully?</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/search">Schools</a></li>
              <li><a href="/map">Map</a></li>
              <li><a href="/report">Report</a></li>
            </ul>
          </div><!--/.nav-collapse -->  
          <a href="/report" class="btn btn-warning pull-right visible-desktop usreport">
             View US Report
          </a>
          <a href="/report" class="btn btn-danger pull-right visible-desktop">
            Report Bullying
          </a>
        </div>
      </div>
    </div>
    
    <div class="container">
        
      <%= yield %>

    </div> <!-- /container -->


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=visualization"></script>
</body>
</html>
